:root{
--primary: #efb6b2;
--secondary: #474747;
--error: #ff4a4a;
}
*{
margin: 0;
padding: 0;
}

/* base styles */
body{
color: var(--secondary);
}
.admin{
max-width: 960px;
margin: 0 auto;
}

/* Title styles */
.header {
    width: 100% !important;
    background: #000000;
    height: auto;
    text-align: center;
    box-sizing: border-box;
    z-index: 100;   
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        color: rgb(255, 255, 255);
        /* opacity: 50%; */
        font-size: x-large;
    
        :nth-child(1){
            display: inline-block;
            font-family: 'roboto', sans-serif;
            font-weight: bold;
            margin: 10px 5px;
        }
        :nth-child(2){
        display: inline-block;
        font-family: 'roboto', sans-serif;
        font-weight: lighter;
        margin: 10px 5px;
        } 
    }
}

/* upload form styles */
form{
    margin: 30px auto 0px;
    text-align: center;
    border: 1px solid black;
 
    label{
        display: block;
        height: 30px;
        width: 30px;
        border: 1px solid black;
        border-radius: 50%;
        margin: 10px auto;
        line-height: 30px;
        color: black;
        font-weight: bold;
        font-size: 24px;
        input{
            height: 0;
            width: 0;
            opacity: 0;
        }
        &:hover{
            background: black;
            color: rgb(255, 255, 255);
        }
    }
}
.output{ 
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    height: 30px;
    font-size: 0.8rem;
}

/* progress bar styles */
.progress-bar{
    height: 5px;
    background: gray;
    margin-top: 20px;
}
  

/* image grid styles */
.image-grid{
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3%;

    .image-wrap{
        overflow: hidden;
        height: 0;
        padding: 50% 0;       /* padding controls height, will always be perfectly square regardless of width */
        position: relative;
        opacity: 0.8;
        &:hover{
            cursor: zoom-in;
        }
        img{
            min-width: 100%;
            min-height: 100%;
            max-width: 150%;
            position: absolute;
            top: 0%;
            left: -25%;
        }
    }
}
/* modal styles */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.644);
    backdrop-filter: blur(3px);
    &:hover{
        cursor: zoom-out;
    }
    img{
    display: block;
    max-width: 60%;
    max-height: 80%;
    margin: 60px auto;
    box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
    border: 3px solid white;
    &:hover{
        cursor: zoom-in;
    }
    }   
}